@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .hero {
    height: 40vh; /* Réduit la hauteur de la section hero */
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }
}
